@using ProjectTrackerBusinessLayer.Entities;
@using System.Linq;
@using System.Collections.Generic;
@model List<Project>;
@*@{
    Layout = "~/Views/Shared/_LayoutFluidContainer.cshtml";
}*@


<h1 class="text-center">My Projects</h1>
<br />
<hr />
<div class="row justify-content-center">
    <div class=" col-12">
        <div class="card shadow mx-3 mb-4">

            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover cell-border" id="ProjectTable" width="100%" cellspacing="0">
                        <thead>
                            <tr class="font-weight-bolder">
                                <th>
                                    Project Title
                                </th>
                                <th>
                                    Team Leader
                                </th>
                                <th>
                                    Project Description
                                </th>
                                <th>
                                    Project Status
                                </th>
                                <th>
                                    Deadline
                                </th>
                                <th>
                                    Sprints
                                </th>
                                <th>
                                    Action
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                foreach (var project in Model)
                                {
                                    <tr>
                                        <td> @project.Name</td>
                                        @{
                                            string teamLeader = "";
                                            foreach (var user in project.UsersProjects)
                                            {
                                                if (user.User.PositionID == 2)
                                                {
                                                    teamLeader = user.User.UserName;
                                                }
                                            }
                                            <td> @teamLeader</td>
                                        }
                                        <td>@project.Description </td>
                                        <td>@project.Status.Name</td>
                                        <td> @project.DeadLine</td>

                                        <td>
                                            <ul>
                                                @foreach (var sprint in project.Sprints)
                                                {
                                                    <li>@sprint.Name </li>

                                                }
                                            </ul>
                                        </td>
                                        @if (project.Sprints.Count != 0)
                                        {
                                            <td><a class="btn bg-gradient-info text-white" href="/Sprint/AllSprintsMember?ProjectID=@project.ProjectID">View Sprints</a></td>
                                        }
                                        else
                                        {
                                            <td><a class="btn bg-gradient-info text-white disabled">No Sprints</a></td>
                                        }
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>
@*</div>
*@