@using ProjectTrackerBusinessLayer.Entities;
@using System.Linq;
@using System.Collections.Generic;
@model List<Activity>;
@*@{
    Layout = "~/Views/Shared/_LayoutFluidContainer.cshtml";
}*@




@*<a class="btn btn-primary" href="/TeamLeader/CreateMission?SprintID=@ViewBag.MissionID">Add work</a>
*@
<h1 class="text-center">Sprint Changes</h1>
<br />
<br />
<hr />
<div class="row justify-content-center">
    <div class=" col-12">
        <div class="card my-2 shadow mb-4">

            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover cell-border" id="ActivityTables" width="100%" cellspacing="0">
                        <thead>
                            <tr class="font-weight-bolder">
                                <th>
                                    Sprint Name
                                </th>
                                <th>
                                    Sprint Start Date
                                </th>
                                <th>
                                    Sprint End Date
                                </th>
                                <th>
                                    Status
                                </th>
                                <th>
                                    Date & Time
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                foreach (var activity in Model)
                                {
                                    <tr>
                                        <td> @activity.SprintName</td>
                                        <td> @activity.SprintStartDate</td>

                                        <td>@activity.SprintEndDate</td>
                                        <td>@activity.Status.Name</td>
                                        <td>@activity.DateTime</td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
@*</div>
*@