@using ProjectTrackerBusinessLayer.Entities;
@using System.Linq;
@using System.Collections.Generic;
@model List<Mission>;
@*@{
    Layout = "~/Views/Shared/_LayoutFluidContainer.cshtml";
}*@

<h1 class="text-center">Sprint: @ViewBag.Sprint.Name <br /> Missions</h1>
<br />

<h5 class="text-danger mx-3 ">Last date to submit work:@ViewBag.Sprint.EndDate </h5>

<hr />

@{
	if (ViewBag.StatusChecker)
	{
		<a class="btn btn-info mx-3" href="/Mission/CreateMission?SprintID=@ViewBag.SprintID">Add mission</a>

	}
	else
	{
		<a class="btn btn-info text disabled mx-3">Add mission</a>
	}
}
<br />
<br />
<div class="row justify-content-center">
	<div class=" col-12">
		<div class="card mx-3 shadow mb-4">
			<div class="card-body">
				<div class="table-responsive">
					<table class="table table-bordered table-hover cell-border" id="MissionTable" width="100%" cellspacing="0">
						<thead>
							<tr class="font-weight-bolder">
								<th>
									Mission Title
								</th>
								<th>
									Mission Description
								</th>
								<th>
									Team Member
								</th>
								<th>
									Status
								</th>
								<th>
									Work Submitted
								</th>
								<th>
									Work Files
								</th>
								<th>
									Action
								</th>
							</tr>
						</thead>
						<tbody>
							@{
								foreach (var mission in Model)
								{
									<tr>
										<td> @mission.Name</td>
										<td> @mission.MissionDescription</td>

										<td>@mission.TeamMember.UserName</td>

										<td>@mission.Status.Name</td>
										<td>
											<ul>
												@foreach (var work in mission.Works)
												{
													<li>@work.Name</li>
												}
											</ul>
										</td>

										@if (mission.Works.Any())
										{
											<td><a class="btn bg-gradient-info text-white" href="/Work/AllWorksLeader?MissionID=@mission.MissionID">View Works</a></td>
										}
										else
										{
											<td><a class="btn bg-gradient-info disabled text-white">No Works</a></td>
										}
										@if (mission.StatusID != 4 && mission.StatusID != 5 && ViewBag.StatusChecker)
										{
											<td><a class="btn btn-outline-info" href="/Mission/EditMission?MissionID=@mission.MissionID">Edit</a></td>
										}
										else
										{
											<td><a class="btn btn-outline-info disabled">Edit</a></td>
										}

									</tr>
								}
							}
						</tbody>
					</table>
				</div>
			</div>
		</div>
		 <div class="row mx-3">
			<a class="btn btn-info" href="/Sprint/AllSprintsLeader?projectID=@ViewBag.Sprint.ProjectID">Back</a>
        </div>
	</div>
</div>
@*</div>
*@